<style>
  @import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
</style>

<div class="container px-4 mt-5">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 text-center">+37068855069</div>
    </div>
    <div class="col">
      <div class="p-3 text-center">slkyper@gmail.com</div>
    </div>
    <div class="col">
      <div class="p-3 text-center">
        <a
          class="bi bi-facebook m-1"
          href="https://www.facebook.com/dalius.de.3/"
        ></a>
        <a
          class="bi bi-instagram m-1"
          href="https://www.instagram.com/dalius_91/"
        ></a>
        <a
          class="bi bi-github m-1"
          href="https://github.com/DaliusDeveikis"
        ></a>
        <a
          class="bi bi-linkedin m-1"
          href="https://www.linkedin.com/in/dalius-deveikis-5858191b8/"
        ></a>
      </div>
    </div>
  </div>
  <hr />

  <ul>
    <!-- ABOUT ME. -->
    <li>
      <div class="card mb-3 border-0">
        <div class="row">
          <div class="col-sm-6">
            <div class="card-body">
              <small
                *ngIf="!canEditCode"
                class="pull-right text-success m-1"
                (click)="canEditCode = true"
                >Edit</small
              >
              <h1 class="card-title" *ngIf="!canEditCode">
                {{ UserFullName }}
              </h1>
              <a href="https://www.codewars.com/users/iDalux"
                ><img
                  src="https://www.codewars.com/users/iDalux/badges/micro"
                  alt=""
              /></a>
              <p class="card-text">
                <small class="text-muted" *ngIf="!canEditCode">{{
                  UserInfo
                }}</small>
              </p>
              <p class="card-text" *ngIf="!canEditCode">
                {{ UserAbout }}
              </p>
              <form [formGroup]="profileForm" (ngSubmit)="addProfile()">
                <input
                  *ngIf="canEditCode"
                  id="userFullName"
                  formControlName="userFullName"
                  type="text"
                  class="form-control mb-3"
                  placeholder="Full Name"
                />
                <input
                  *ngIf="canEditCode"
                  id="userInfo"
                  formControlName="userInfo"
                  type="text"
                  class="form-control mb-3"
                  placeholder="Small Info or Intro"
                />
                <textarea
                  *ngIf="canEditCode"
                  id="userAbout"
                  formControlName="userAbout"
                  class="form-control mb-3"
                  rows="4"
                  placeholder="Everything About you!"
                >
                </textarea>
                <small
                  ><button
                    *ngIf="canEditCode"
                    class="pull-right text-danger border-0 bg-white"
                    type="submit"
                    [disabled]="!profileForm.valid"
                    (click)="animations()"
                  >
                    Close
                  </button></small
                >
              </form>
            </div>
          </div>
          <div class="col-sm-6">
            <img
              src="https://scontent.fplq1-1.fna.fbcdn.net/v/t1.6435-9/131353298_1440142066181098_5050288255966457944_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Ksyn6x-2iZAAX_i7aOH&_nc_ht=scontent.fplq1-1.fna&oh=00_AT84NAFLzt143uZifzTWTz30TbJob0TYAx8H6MrgSW7FFg&oe=62F4AED7"
              class="img-fluid myBorderFancy opacity-75"
              [@animes]="anime"
              (mouseover)="animations()"
              alt="..."
            />
          </div>
        </div>
      </div>
    </li>
    <!-- end about me. -->

    <!-- EXPERIENCE. -->
    <li>
      <div class="card mb-3 border-0">
        <h4 class="card-title">Experience:</h4>
        <!-- CARD GROUP -->
        <div class="card-group">
          <div class="card m-2 border-0">
            <div class="card-body">
              <h5 class="card-title">KidsSummerCampApp</h5>
              <p class="card-text">Work was done together with the teacher.</p>
            </div>
            <a
              href="https://github.com/DaliusDeveikis/KidsSummerCampApp"
              class="btn btn-primary float-start"
              >Github <i class="bi bi-github"></i
            ></a>
          </div>

          <div class="card m-2 border-0">
            <div class="card-body">
              <h5 class="card-title">ReceptuKnyga</h5>
              <p class="card-text">Work was done together with the teacher.</p>
            </div>

            <a
              href="https://github.com/DaliusDeveikis/ReceptuKnyga"
              class="btn btn-primary float-start"
              >Github <i class="bi bi-github"></i
            ></a>
          </div>

          <div class="card m-2 border-0">
            <div class="card-body">
              <h5 class="card-title">QuizBot</h5>
              <p class="card-text">
                App were developed in the Python programming language. Together
                with a colleague from the group.
              </p>
            </div>
            <a
              href="https://gitlab.com/PythonLT2/quizbot"
              class="btn btn-primary float-start"
              >Gitlab <i class="bi bi-git"></i
            ></a>
          </div>
          <div class="card m-2 border-0">
            <div class="card-body">
              <h5 class="card-title">Expense Management</h5>
              <p class="card-text">
                I received an assignment from my employer. I did it myself..
              </p>
            </div>
            <a
              href="https://gitlab.com/slkyper/expense_management"
              class="btn btn-primary float-start"
              >Gitlab <i class="bi bi-git"></i
            ></a>
          </div>
        </div>
      </div>
    </li>
    <!-- End Experience. -->
    <li>
      <div class="card mb-3 border-0">
        <h4 class="card-title">Education:</h4>
      </div>
    </li>
  </ul>
</div>
